/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #444444;
    overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}

#container {
    padding: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin: 0;
}

a {
    text-decoration-line: underline;
    color: #FFFFFF;
}

a:hover {
    text-decoration-line: underline;
    color: #F9B334;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-600 {
    font-weight: 700;
}

.only-show-lg {
    display: flex;
}

.only-show-md {
    display: none;
}

.only-show-sm {
    display: none;
}

/*--------------------------------------------------------------
# Provenent-as-QVI Section
--------------------------------------------------------------*/

.provenant-as-qvi {
    padding: 86px 86px 72px 86px;
    background: #004CB5;
}

.header {
    flex-direction: column;
    justify-content: space-between;
    height: 488px;
    transition: all 0.5s;
}

.tagline p {
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 94px;
    color: #FBFBFB;
}

.provenant-as-qvi hr {
    opacity: 0.2;
    border-top: 1px solid #FFFFFF;
    margin-top: 5em;
}


.get-vlei {
    display: flex;
    padding-top: 60px;
}

.get-vlei .title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    align-items: center;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-bottom: 20px;
}

.get-vlei .description {
    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.get-vlei .description a {
    text-decoration-line: underline;
    color: #FFFFFF;
}

.get-vlei .description a:hover {
    text-decoration-line: underline;
    color: #F9B334;
}

.gleif-trustmark-box {
    height: 458px;
    margin-top: 7em;
    margin-bottom: 4.5em;
}

.gleif-trustmark-box .gleif-trustmark-bg {
    align-self: end;
    height: 404px;
}

.gleif-trustmark-box .gleif-trustmark-badge {
    position: absolute;
}

.gleif-trustmark-box .gleif-trustmark {
    /* width: 280px;
    height: 418px; */
    position: absolute;
}

.vlei-read-more {
    padding-top: 4px;
}

.vlei-read-more p {

    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

@media (max-width: 575.98px) {
    .provenant-as-qvi {
        padding: 40px 16px 40px 16px;
    }

    .header {
        height: 484px;
    }

    .tagline p {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
    }

    .get-vlei .title {
        font-size: 20px;
        line-height: 26px;
    }

    .get-vlei .description {
        font-size: 16px;
        line-height: 24px;
    }

    .gleif-trustmark-box {
        height: 300px;
        margin-top: 3em;
    }
/* 
    .gleif-trustmark-box .gleif-trustmark-bg {
        align-self: end;
        height: 256px;
    } */

    .vlei-read-more p {
        font-size: 14px;
        line-height: 22px;
    }

    .only-show-lg {
        display: none;
    }
    
    .only-show-md {
        display: none;
    }
    
    .only-show-sm {
        display: flex;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .provenant-as-qvi {
        padding: 56px 32px 56px 32px;
    }

    .header {
        height: 526px;
    }

    .tagline p {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 83px;
        color: #FBFBFB;
    }

    .get-vlei .title {
        font-size: 28px;
        line-height: 36px;
    }

    .get-vlei .description {
        font-size: 20px;
        line-height: 30px;
    }

    .gleif-trustmark-box {
        height: 398px;
        margin-top: 5em;
    }

    .gleif-trustmark-box .gleif-trustmark-bg {
        align-self: end;
        height: 388px;
    }

    .only-show-lg {
        display: none;
    }
    
    .only-show-md {
        display: flex;
    }
    
    .only-show-sm {
        display: none;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}


/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/

.pricing {
    padding: 86px;
    background: #FFFFFF;
}

.pricing .title h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #111111;
    mix-blend-mode: normal;
}

.price-table-container {
    background: #F0F6FF;
    border-radius: 6px;
    padding: 42px;
    margin: 32px 0 0 0;
}

.price-section-title {
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #111111;
    mix-blend-mode: normal;
    padding-bottom: 1.2em;
    padding-top: 2em;
}

.price-table-container .price-item {
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #111111;
    mix-blend-mode: normal;
    margin-bottom: 0.8em;
    border-bottom: 1px dashed #bfcfe7;
}

@media (max-width: 575.98px) {
    .pricing {
        padding: 56px 0px 56px 0px;
    }

    .pricing .title h4 {
        margin-left: 0.8em;
        font-size: 20px;
        line-height: 26px;
    }

    .price-table-container {
        padding: 16px;
        border-radius: 0px;
    }

    .price-section-title {
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
    }

    .price-table-container .price-item {
        font-size: 14px;
        line-height: 18px;
        gap: 1em;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .pricing {
        padding: 56px 32px 56px 32px;
    }

    .pricing .title h4 {
        font-size: 28px;
        line-height: 36px;
    }

    .price-table-container {
        padding: 24px;
        border-radius: 0px;
    }

    .price-section-title {
        font-size: 20px;
        line-height: 26px;
    }
}

/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/

.about-us {
    background: #FFFFFF;
    padding: 0px 86px 86px 86px;
}

.about-us .title h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #111111;
    mix-blend-mode: normal;
}

.about-us .subtitle p {
    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #111111;
    mix-blend-mode: normal;
}

.about-us .description {
    column-count: 2;
}

.about-us .description p {
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-indent: 22px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #111111;
    mix-blend-mode: normal;
}

.about-us .learn-more {
    padding-top: 2.5em;
}

.about-us .learn-more p {
    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #111111;
    mix-blend-mode: normal;
}

.about-us .learn-more a {
    font-weight: 600;
    text-decoration-line: underline;
    color: #111111;
}

.about-us .learn-more a:hover {
    color: #004CB5;
}

@media (max-width: 575.98px) {
    .about-us {
        padding: 0px 16px 56px 16px;
    }

    .about-us .title h4 {
        font-size: 20px;
        line-height: 26px;
    }

    .about-us .subtitle p {
        font-size: 16px;
        line-height: 24px;
    }

    .about-us .description {
        column-count: 1;
    }

    .about-us .description p {
        font-size: 14px;
        line-height: 24px;
    }

    .about-us .learn-more p {
        font-size: 16px;
        line-height: 24px;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .about-us {
        padding: 0px 32px 56px 32px;
    }

    .about-us .title h4 {
        font-size: 28px;
        line-height: 36px;
    }

    .about-us .subtitle p {
        font-size: 20px;
        line-height: 30px;
    }

    .about-us .description {
        column-count: 1;
    }

    .about-us .description p {
        font-size: 18px;
    }

    .about-us .learn-more p {
        font-size: 20px;
        line-height: 30px;
    }
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

.footer {
    padding: 50px 86px 64px 86px;
    background: #FFFFFF;
}

.footer .footer-separator {
    border-top: 1px solid #004CB5;
    opacity: 1;
}

.footer .copyright p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5px;
    font-feature-settings: 'ss05' on, 'ss04' on;
    color: #004CB5;
    mix-blend-mode: normal;
}

@media (max-width: 575.98px) {
    .footer {
        padding: 6px 16px 56px 16px;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .footer {
        padding: 6px 33px 64px 33px;
    }
}